<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>הוספת משתתף</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>


<div class="dashboard">


    <h1>➕ הוספת משתתף</h1>


    <form method="POST"
          action="/add_participant">


        <p>שם המשתתף</p>

        <input type="text"
               name="name"
               required>


        <br><br>


        <p>מספר טלפון</p>

        <input type="text"
               name="phone"
               required>


        <br><br><br>


        <button type="submit"
                class="play-button">

            💾 שמור משתתף

        </button>


    </form>


    <br>


    <a href="/participants">
        ⬅ חזרה לניהול משתתפים
    </a>


</div>


</body>

</html>